*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: normal;

}
html{
    scroll-behavior: smooth;
    background-color: black;
    color: white;
}
header ul{
    display: flex;
    list-style-type: none;
    justify-content:space-around;
    align-items: center;
    padding: 1rem;
}
header ul li a{
    color: gray;
    text-decoration: none;
}
.intro h1{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 1.5rem;
    line-height: 5rem;
    font-size: 50px;
}
.intro p{
    text-align: center;
    margin: 1.5rem 0;
}
main img{
    max-width: 100%;
}
.jared-headshot{
    opacity: 0.8;
    border-radius: 50%;
}
.about-jared{
    margin: 1.5rem 0;
}